<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="internalServiceBehavior" name="StackHashServiceImplementation.InternalService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/StackHash"/>
            <add baseAddress="http://localhost:8000/StackHash"/>
          </baseAddresses>
        </host>
        <endpoint contract="StackHashServiceContracts.IAdminContract" binding="netTcpBinding" address="Admin" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="StackHashServiceContracts.IProjectsContract" binding="netTcpBinding" address="Projects" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="StackHashServiceContracts.ICabContract" binding="netTcpBinding" address="Cabs" bindingConfiguration="netTcpStreaming"/>
        <endpoint contract="StackHashServiceContracts.ITestContract" binding="netTcpBinding" address="Test" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="externalServiceBehavior" name="StackHashServiceImplementation.ExternalService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/StackHash"/>
          </baseAddresses>
        </host>
        <endpoint contract="StackHashServiceContracts.IProjectsContract" binding="basicHttpBinding" address="Projects"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpStreaming" transferMode="StreamedResponse" receiveTimeout="12:00:00"/>
        <binding name="netTcpLargeMessages" transferMode="Buffered" receiveTimeout="12:00:00"/>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="internalServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="01:00:00"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="externalServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
