<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="StackHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
    <applicationSettings>
        <StackHash.Properties.Settings>
            <setting name="MainWindowDefaultMargin" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ContractCabsInitialMaxReceiveBytes" serializeAs="String">
                <value>20971520</value>
            </setting>
            <setting name="ContractProjectsMaxReceiveBytes" serializeAs="String">
                <value>20971520</value>
            </setting>
            <setting name="ContractAdminMaxReceiveBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="ContractCabsOperationTimeoutInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ContractProjectsOperationTimeoutInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ContractAdminOperationTimeoutInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WinQualEventListTemplate" serializeAs="String">
                <value>https://winqual.microsoft.com/member/wer/user/Eventlist.aspx?productid={0}&amp;productname={1}&amp;productversion={2}</value>
            </setting>
            <setting name="WinQualEventDetailsTemplate" serializeAs="String">
                <value>https://winqual.microsoft.com/member/wer/user/EventDetails.aspx?bucketid={0}&amp;eventtype={1}</value>
            </setting>
            <setting name="ContractsMaxStringSize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="ContractsMaxArraySize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="ContractTestOperationTimeoutInMinutes" serializeAs="String">
                <value>30</value>
            </setting>
        </StackHash.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdminContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="5000000" maxBufferSize="5000000" maxConnections="10"
                    maxReceivedMessageSize="5000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProjectsContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="5000000" maxBufferSize="5000000" maxConnections="10"
                    maxReceivedMessageSize="5000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICabContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="5000000" maxBufferSize="5000000" maxConnections="10"
                    maxReceivedMessageSize="5000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITestContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="5000000" maxBufferSize="5000000" maxConnections="10"
                    maxReceivedMessageSize="5000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" algorithmSuite="Default" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/StackHash/Admin"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminContract"
                contract="StackHashService.IAdminContract" name="NetTcpBinding_IAdminContract" />
            <endpoint address="net.tcp://localhost:9000/StackHash/Projects"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProjectsContract"
                contract="StackHashService.IProjectsContract" name="NetTcpBinding_IProjectsContract" />
            <endpoint address="net.tcp://localhost:9000/StackHash/Cabs" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICabContract" contract="StackHashService.ICabContract"
                name="NetTcpBinding_ICabContract" />
            <endpoint address="net.tcp://localhost:9000/StackHash/Test" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITestContract" contract="StackHashService.ITestContract"
                name="NetTcpBinding_ITestContract" />
        </client>
    </system.serviceModel>
</configuration>
