<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PullDateMinimumDuration" value="14" />
    <add key="ConsecutiveAnalyzeCabErrorsBeforeAbort" value="10"/>
    <add key="ConsecutiveCabDownloadErrorsBeforeAbort" value="5"/>
    <add key="ForceSqlDatabase" value="false"/>
    <add key="CopyIndexEventsPerBlock" value="1000"/>
    <add key="IntervalBetweenProgressReportsInSeconds" value="1"/>
    <add key="DefaultSqlConnectionString" value="Data Source=(local)\STACKHASH;Integrated Security=True;"/>
    <add key="UseWindowsLiveId" value="true"/>
    <add key="ContextRetryTimeoutInSeconds" value="60"/>
    <add key="ContextRetryPeriodInSeconds" value="1200"/>
    <add key="IntervalBetweenWinQualLogonsInHours" value="10"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="internalServiceBehavior" name="StackHashServiceImplementation.InternalService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/StackHash"/>
            <add baseAddress="http://localhost:8000/StackHash"/>
          </baseAddresses>
        </host>
        <endpoint contract="StackHashServiceContracts.IAdminContract" binding="netTcpBinding" address="Admin" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="StackHashServiceContracts.IProjectsContract" binding="netTcpBinding" address="Projects" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="StackHashServiceContracts.ICabContract" binding="netTcpBinding" address="Cabs" bindingConfiguration="netTcpStreaming"/>
        <endpoint contract="StackHashServiceContracts.ITestContract" binding="netTcpBinding" address="Test" bindingConfiguration="netTcpLargeMessages"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="externalServiceBehavior" name="StackHashServiceImplementation.ExternalService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/StackHash"/>
          </baseAddresses>
        </host>
        <endpoint contract="StackHashServiceContracts.IProjectsContract" binding="basicHttpBinding" address="Projects"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpStreaming" receiveTimeout="12:00:00" transferMode="StreamedResponse" />
        <binding name="netTcpLargeMessages" receiveTimeout="12:00:00"
          transferMode="Buffered" maxBufferSize="5000000" maxReceivedMessageSize="5000000">
          <readerQuotas maxDepth="32" maxStringContentLength="5000000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="StackHashServiceSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="800192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="internalServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="01:00:00"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="externalServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup  useLegacyV2RuntimeActivationPolicy="true" >
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  <supportedRuntime version="v4.0"/>
</startup>
<runtime>
  <generatePublisherEvidence enabled="false"/>
</runtime>

</configuration>

